# Ecommerce Purchases Exercise - Solutions

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.

In [2]:
import numpy as np
import pandas as pd

**Read Ecommerce Purchases.csv as a dataframe**

In [3]:
df=pd.read_csv(r"F:\studiess\Machine Learning and Artificial Intellignece\ML&AI_Coding_Academy\ML&AI_Repository\Python\Session7\Assigmnet\Ecommerce Purchases.csv")

**Check the head of the DataFrame.**

In [4]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**Get Information about DataFrame**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [6]:
df.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

**What is the average Purchase Price?**

In [7]:
df["Purchase Price"].mean()

50.347302

**What were the highest and lowest purchase prices?**

In [8]:
df["Purchase Price"].max()

99.99

In [9]:
df["Purchase Price"].min()

0.0

**How many people have English 'en' as their Language of choice on the website?**

In [14]:
df[df["Language"]=='en'].count()

1098

In [17]:
len(df[df["Language"]=='en'])

1098

**How many people have the job title of "Lawyer" ?**

In [19]:
df[df["Job"]=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [18]:
len(df[df["Job"]=='Lawyer'])

30

**How many people made the purchase during the AM and how many people made the purchase during PM ?**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )**

In [25]:
df["AM or PM"].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

**What are the 5 most common Job Titles?**

In [30]:
df["Job"].value_counts().sort_values(ascending=False).head()

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

**Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [34]:
df[df["Lot"]=="90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

**What is the email of the person with the following Credit Card Number: 4926535242672853**

In [36]:
df[df["Credit Card"]==4926535242672853].Email

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [58]:
df[(df["CC Provider"]=="American Express") & (df["Purchase Price"]>95)].count().Address

39

39

**Hard: How many people have a credit card that expires in 2025?**

In [66]:
df[df["CC Exp Date"].str.endswith("25")].count().Address

1033

**Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

In [95]:
x=df["Email"].str.split("@")
x

0                    [pdunlap, yahoo.com]
1                   [anthony41, reed.com]
2       [amymiller, morales-harrison.com]
3          [brent16, olson-robinson.info]
4          [christopherwright, gmail.com]
                      ...
9995            [iscott, wade-garner.com]
9996                [mary85, hotmail.com]
9997                 [tyler16, gmail.com]
9998           [elizabethmoore, reid.net]
9999             [rachelford, vaughn.com]
Name: Email, Length: 10000, dtype: object

In [97]:
domain=x.str[1]
domain

0                  yahoo.com
1                   reed.com
2       morales-harrison.com
3        olson-robinson.info
4                  gmail.com
                ...
9995         wade-garner.com
9996             hotmail.com
9997               gmail.com
9998                reid.net
9999              vaughn.com
Name: Email, Length: 10000, dtype: object

In [99]:
domain.value_counts().head()

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64