In [4]:
#printing hello world
print("Hello, World!")
print('Hello, World!')

#concatenating strings
print("Hello," +" " + "World!")

#print(*objects,sep=" ", end="\n", flush=false) sep is the seperator it is " " by default, 
#end is the end character it is '\n' by default

print('Hello','World','!')

print('Hello\nWorld\n!')

Hello, World!
Hello, World!
Hello, World!
Hello World !
Hello
World
!

In [30]:
#Escape Sequences
#\n for newline
#\t for horizontal tab
#\\ for backslash
#\' or \" for single or double quote
#\r carriage return, moves the cursor to the beginning of the line without advancing to the next line
#\b backspace Moves the cursor one position back (deletes the previous character)
#\f formfeed insert a form feed which means moving to the next page
#\a produces alarm sound on some systems

print("hello \nMy name is Karim")
print("i\tam\tvery\thappy")
print("inserting backslash \\")
print("inserting sinqle quote \'")
print("inserting double quote \"")
print("carriage\rreturn")
print("backspace\b")
print('\a')
print("page1\fpage2")

#unicode character
#unicode character(\uxxxx or \Uxxxxxxxx):represents a unicode character by its code in hexadecimal
print('\u03A9') #for greek letter omega
print('\u03B1')#for alpha

hello
My name is Karim
i	am	very	happy
inserting backslash \
inserting sinqle quote '
inserting double quote "
returnge
backspac

page1page2
Ω
α

In [34]:
#Raw Strings
# if you want to indicate that this is a raw string put r before "" in print
print(r"this \n is\t a\n raw string")

this \n is\t a\n raw string

In [36]:
#Basic Syntax and Structure
#integer
age=25
print(age)

25

In [38]:
#float
price=19.99
print(price)

19.99

In [40]:
#string
name='john'
print(name)

john

In [42]:
#boolean
is_valid=False
print(is_valid)

False

In [44]:
#reassigning variables
age=30
print(age)

30

In [46]:
#changing type dynamically
price='Twenty Dollars'
print(price)

Twenty Dollars

In [50]:
#multiple assignments
a,b,c=10,20.5,'c'
print(a,b,c,sep='\n')

10
20.5
c

In [52]:
#swappig variables
a,b=b,a
print(a,b)

20.5 10

In [56]:
#basic operators
#+,-,/,*
#floor division //
#modulus %
#exponentiation **
a=10 
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

13
7
30
3.3333333333333335
3
1
1000

In [60]:
#comparison operators
#==,<,>,!=,>=,<=
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [72]:
#comparing strings (lexicographically)
name1='Alice'
name2='alice'
name3='Ben'
print(name1<name2)
print(name1<name3)
print(name2<name3)
#uppercase letters are ahead of lower case letters

True
True
False

In [74]:
#assignment operators
#==,+=,-=,*=,/=
c=5
print(c)
c+=2 #c=c+2 =7
print(c)
c-=2 #c=c-2 =5
print(c)
c*=5 #c=c*5 =25
print(c)
c/=5 #c=c/5=5
print(c)
c**=c #c=c**5
print(c)

5
7
5
25
5.0
3125.0

In [80]:
#input and output
#the function input() is for allowing user to enter data, it returns user input as a string
#the function print() outputs on the screen and it supports formatted printing using f before ""
name=input("Enter your name")
print("Hello",name)

age=int(input("Enter your age"))
print("Hello " +name,f"you are {age} years old")

salary=float(input("Enter your Salary"))
print("your salary is",f"{salary}")

Enter your name karim

Hello karim

Enter your age 25

Hello karim you are 25 years old

Enter your Salary 100.89

your salary is 100.89

In [98]:
#Default inputs and type conversion
number = input("Enter a number (default 10): ") or "10"
print(f"Your number is {int(number)}")

Enter a number (default 10):  10

Your number is 10

In [106]:
# handling multiple inputs at once
a,b=input("enter two numbers seperated by a space").split(' ')
print(f"{a} {b}")
# split() splits the inputs as different seperated inputs, you can decide the seperation
# character to be a space coma or anything , default is white space .split(' ')

enter two numbers seperated by a space 1 2

1 2

In [108]:
#using sep and end in print
print("Hello","world",sep=' ?',end='0')

Hello ?world0

In [117]:
#Control Structures
#conditional statemments if,elif and else
age=2
if age>=18:
    print("you are an adult")
elif age >=12:
    print("yyou are a teen")
else:
    print("a baby")

a baby

In [119]:
#nested conditions
score=79
if score>=90:
    print("Grade: A")
else:
    if score>=80:
        print("Grade: B")
    else:
        print("Grade: C")

Grade: C

In [121]:
#inline Conditional
result="Pass" if score>=50 else "Fail"
print(result)

Pass

In [127]:
#Logical operators
#and,or,not
has_ticket=False
has_id=False
if has_ticket and has_id:
    print("you may enter")
elif has_ticket or has_id:
    print("you may enter with caution")
else:
    print("you can't enter")

you can't enter